* {
    box-sizing: border-box;
}
html,

body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    width: 100%;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.top-right>a{
    color: #636b6f;
    padding: 5px;
    text-decoration: none;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.group-name>span {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.title-vidio h2 {
  font-weight: normal;
}

.content-videos {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.video {
  float: left;
  width: 25%;
}

.video-box {
  position: relative;
}

.text-videos {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #000000;
}

.clear{
  clear:left;
}



/*Smartphone*/
@media all and (max-width: 670px) {
  .video {
    width: 100%;
  }

